* {
    padding: 0;
    margin: 20;
  }
  .grid {
    position: absolute;
    width: 560px;
    height: 300px;
    background-image: url(./images/background_cropped.png);
    background-size: cover;
    border: solid black 1px;
    margin-top: 80px;
  }
  .block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blue;
  }
  .user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: purple;
  }
  .ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: red;
  }
  button {
    width: 70px;
    height: 70px;
    background-color: rgb(146, 202, 219);
    border-radius: 10px;
    border-style: outset;
    border-top: none;
    border-left: none;
  }

  #reset:hover {
    border-style: inset;
    border-bottom: none;
    border-right: none;
  }

  #score {
    position: absolute;
    font-size: 50px;
    left: 20px;
  }
  